@mixin border-radius {
  border-radius: 10px;
}

$color-white: #ffffff;
$color-black: #000000;
$color-box-shadow: var(--tertiary);
$color-mint: var(--tertiary);
$color-blue: #e5f8ff;
$color-square-gradient: linear-gradient(4deg, rgba(247, 144, 2, 100%) 55%, rgba(247, 144, 2, 49%) 100%);
$color-square-webkit-gradient: -webkit-linear-gradient(4deg, rgba(143,236,202,.29) 55%, rgba(74, 247, 255, 0.08) 100%);
