@import 'variables';

body:not(.navigation-categories):not(.navigation-topics) #main-outlet {
  @include border-radius;
  box-shadow: 0 24px 40px rgb(0 0 0 / 7%), 0 10.8529px 24.1177px rgb(0 0 0 / 5%), 0 4.50776px 10.0172px rgb(0 0 0 / 4%), 0 1.63037px 3.62304px rgb(0 0 0 / 2%);
  padding: 2em;
  background-color: var(--primary-very-low);
  border-top: 8px solid $tertiary;
  margin-top: .8em;
}
